{% extends "admin/base_site.html" %}
{% load i18n %}
{% load admin_urls %}
{% block nav-breadcrumbs %}
<nav aria-label="{% translate 'Breadcrumbs' %}">
  {% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  </div>
{% endblock breadcrumbs %}
</nav>
{% endblock nav-breadcrumbs %} {% block content %}
<div id="container">
  <table id="container">
    {% for user in object_list %}
    <th>USERNAME</th>
    <th>PASSWORD</th>
    <tr>
      <td><h3>{{ user.username }}</h3></td>
      <td><h3>{{ user.temp_user_password }}</h3></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
