h1 {
    font-size: 5vh;
    font-weight: bold;
}

.passwordinput {
    border-radius: 5px;
    padding-left: 3vh;
    grid-column-start: 5;
}

#id_password1_helptext {
    font-size: 3vh;
    line-height: 4vh;
}

form a {
  line-height: 6.5vh;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 2px;
  display: inline-block; /* Allows padding and block-level styling */
  /*padding: 5px; /* Space inside the button */
  background-color: #422ad5; /* Button color */
  color: white; /* Text color */
  text-decoration: none; /* Removes underline */
  border-radius: 4px; /* Rounded corners */
  font-size: .875rem; /* Text size */
  cursor: pointer; /* Changes cursor to a hand */
  font-weight: bold;
  height: var(--size);
  transition-property: color,background-color,border-color,box-shadow;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0,0,.2,1);
}